:global(.components-tab-panel__tabs) {
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
  position: relative;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px;
  outline: none;
  border-radius: calc(1px);
}

.snackbar {
  position: fixed;
  bottom: 2.5em;
  z-index: 999;
}